[Unit]
Description=Paeraki Vessel Alarms and Notification Daemon
After=network.target

[Service]
WorkingDirectory=/home/jh/paeraki
ExecStart=/home/jh/.local/bin/uv run --python /home/jh/paeraki/.venv /home/jh/paeraki/alarms/watch.py --broker 192.168.1.1 --interval 1.0
Restart=always
RestartSec=5
User=jh

[Install]
WantedBy=multi-user.target
